@font-face {
    font-family: "Nintendo Switch";
    src: url("/assets/fonts/Nintendo_Switch_UI_Font.ttf");
}

@font-face {
    font-family: DIN;
    font-weight: normal;
    src: url("/assets/fonts/DIN.ttf")
}

@font-face {
    font-family: DIN;
    font-weight: 500;
    src: url("/assets/fonts/DIN\ Medium.ttf")
}

@font-face {
    font-family: DIN;
    font-weight: bold;
    src: url("/assets/fonts/DIN\ Bold.ttf")
}

@font-face {
    font-family: DIN;
    font-weight: bolder;
    src: url("/assets/fonts/DIN\ Black.ttf")
}
