$background-color-primary: #EBEBEB;
$border-and-font-color: #39C4C6;
$selected-border-state-0: linear-gradient(45deg, rgba(81,196,195,1) 0%, rgba(11,174,192,1) 100%);
$selected-border-state-1: linear-gradient(45deg, rgba(89,245,218,1) 0%, rgba(88,251,226,1) 100%); 
$ui-black: #2D2D2D;
$shadow: rgba(0, 0, 0, 0.1);
$shadow-medium: rgba(0, 0, 0, 0.2);
$shadow-strong: rgba(0, 0, 0, 0.35);
